    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Current MD-PhD candidate at UCSF working with <a href="https://marsonlab.ucsf.edu/" target="_blank">Alex Marson</a> and <a href="https://www.yelabucsf.org/" target="_blank">Jimmie Ye</a>. <a href="https://ucsd.edu/" target="_blank">UCSD</a> alum. Previously worked with <a href="https://zhanglab.biology.ucsd.edu/" target="_blank">Dong-Er Zhang</a> and <a href="https://lanelab.dana-farber.org/" target="_blank">Andrew Lane</a>.</p>
                <p>Integrating experimental and computational approaches to study the gene programs governing immune cell development and function. I am particularly interested in how dysregulation of these programs precipitates autoimmune pathogenesis and malignancy.</p>
                <p>Working towards a future career in pediatric immunology.</p>
                <p>Other interests include being outside consuming byproducts of yeast metabolism.</p>
            </div>
        </div>
    </section>
