    <!-- Download Section -->
    <section id="papers" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Papers</h2>
                    <a href="https://www.ncbi.nlm.nih.gov/myncbi/1xwv4yp4d9iAw/bibliography/public/" target="_blank" class="btn btn-default btn-lg">NCBI MyBibliography</a>
                </div>
            </div>
        </div>
    </section>
