    <!-- Download Section -->
    <section id="papers" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Papers</h2>
			<p> 
				<a href="https://www.cell.com/cell-reports/fulltext/S2211-1247(18)31650-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2211124718316504%3Fshowall%3Dtrue" target="_blank">
         			<img src="{{site.baseurl}}/img/mowery_cellreports.png" alt="" width="200" height="260"> 
      				</a>
				<a href="https://www.nature.com/articles/s41467-020-15221-z" target="_blank">
                                <img src="{{site.baseurl}}/img/lucia_natcomms.png" alt="" width="200" height="260">
                                </a>
                                <a href="https://www.nature.com/articles/leu2016167" target="_blank">
                                <img src="{{site.baseurl}}/img/donger_leukemia.png" alt="" width="200" height="260">
                                </a>
                                </a>
                                <a href="https://doi.org/10.1016/j.cell.2020.03.039" target="_blank">
                                <img src="{{site.baseurl}}/img/roth_cell.png" alt="" width="200" height="260">
                                </a>
                                </a>
                                <a href="https://covidtestingproject.org/" target="_blank">
                                <img src="{{site.baseurl}}/img/mowery_covid.png" alt="" width="200" height="260">
                                </a>
                                </a>
                                <a href="https://www.medrxiv.org/content/10.1101/2020.07.15.20154773v1" target="_blank">
                                <img src="{{site.baseurl}}/img/mowery_lfaML.png" alt="" width="200" height="260">
                                </a>
			</p>
                    <a href="https://www.ncbi.nlm.nih.gov/myncbi/1xwv4yp4d9iAw/bibliography/public/" target="_blank" class="btn btn-default btn-lg">NCBI MyBibliography</a>
                </div>
            </div>
        </div>
    </section>
