    <!-- Download Section -->
    <section id="papers" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Papers</h2>
			<p> <a href="https://www.cell.com/cell-reports/fulltext/S2211-1247(18)31650-4?_returnURL=https%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS2211124718316504%3Fshowall%3Dtrue">
         		<img url(/img/mowery_cellreports.png)"
         		width=150" height="195"> </p>
      			</a>
                    <a href="https://www.ncbi.nlm.nih.gov/myncbi/1xwv4yp4d9iAw/bibliography/public/" target="_blank" class="btn btn-default btn-lg">NCBI MyBibliography</a>
                </div>
            </div>
        </div>
    </section>
